table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
p {
  font-size: 18px;
  padding-top: 30px;
  text-align: center; /* ボタンを中央揃えにするためのスタイル */
}
.button-container {
  text-align: center; /* ボタンを中央揃えにするためのスタイル */
}
.custom-button {
  background-color: black;
  color: white;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  margin: 23px; /* ボタン間の余白を設定 */
}

.custom-button:hover {
  background-color: #000700;
}
