h1 {
    text-align: center;
}

.p1 {
    text-align: right;
}

.box {
    display: block;
    width: 500px;
    text-align: center;
    background-color: #dcdcdc;
    padding: 0.5em 1em;
    margin: auto;
    font-weight: bold;
    border: solid 3px #dcdcdc;
}

.p2 {
    margin-left: 250px;
    text-align: left;
}

.p4 {
    text-align: center;
}

.button {
    text-align: center;
}

table {
    width: 300px;
    margin: 20px auto;
    margin-bottom: 50px;
}

.error {
    color: red;
    text-align: center;
}

tr {
    height: 50px;
}

input[type="submit"] {
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}