.center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px; /* 全体のフォントサイズを調整 */
}

.center form {
  width: 50%;
  text-align: center;
}

.center form p,
.center form input,
.center form button {
  margin-bottom: 10px;
  font-size: 18px; /* 各項目のフォントサイズを調整 */
}

.center form input[type="submit"],
.center form input[type="button"] {
  background-color: #000500;
  color: white;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.center form input[type="submit"]:hover,
.center form input[type="button"]:hover {
  background-color: #000500;
}
