form {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    /* Add this line */
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    /* Add this line */
    right: 0;
    /* Add this line */
    top: 0;
    /* Add this line */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    /* Update this line */
    text-align: center;
    /* Add this line */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Rest of your existing styles... */