p{
    text-align: center;
    font-size: x-large;
}
#margin {
    margin-top: 75px;
}
input[type="submit"] {
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#button {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
#button input {
    margin: 50px;
}