/* css/admin-shohindeletekanyo.css */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.message {
    text-align: center;
    font-size: 24px; /* フォントサイズを変更 */
}

form {
    text-align: center;
    margin-top: 20px;
}

form input {
    font-size: 16px;
}

