ul {
  display: flex;
  justify-content: center;
  padding: 0; /* <ul> 要素の内部余白をリセット */
  list-style: none; /* リストのデフォルトスタイルを無効にする */
}

ul li {
  margin: 0 10px; /* 画像の間に10pxの左右の余白を追加 */
}
.slider {
  width: 500%;
  height: 650px;
  object-fit: cover;
}
.bx-wrapper {
  width: 960px;
  height: 520px;
  margin: 0 auto; /* 左右のマージンを自動で均等にすることで中央に配置 */
}
p {
  text-align: center; /* テキストを中央に配置 */
  margin-top: 10px;
}
h2 {
  text-align: center;
}
.item_info {
  margin-top: 150px;
}
.exp1 {
  text-align: center; /* テキストを中央に配置 */
  margin-top: -15px; /* 上部の余白を調整する値（必要に応じて変更） */
}

.exp2 {
  text-align: center; /* テキストを中央に配置 */
  margin-top: 5px;
}
img {
  height: 515px;
  width: 430px;
}
.custom-image img {
  height: 450px;
  width: 450px;
}

.seihin-image img {
  height: 350px;
  width: 300px;
  margin-bottom: 30px;
  border-radius: 20%; /* 画像の枠を丸くする */
  overflow: hidden; /* 丸い形を適用するために必要 */
}
.page-top {
  display: none; /* 非表示 */
  position: fixed; /* ページ右下に固定 */
  right: 20px;
  bottom: 20px;
  padding: 20px 10px;
  border-radius: 8px;
  background-color: red;
  color: #fff;
  cursor: pointer; /* カーソルをポインターに */
}
/* activeクラスが付与されたとき */
.page-top.active {
  display: block;
}
/* ホバーしたとき */
.page-top:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.products-btn {
  width: 340px;
  height: 64px;
  margin: 10px auto 25px; /* 下部の余白を30pxに変更 */
  text-align: center;
}

.products-btn img {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 50px;
  box-sizing: border-box;
  display: block;
}
