ul {
  display: flex;
  justify-content: center;
  padding: 0; /* <ul> 要素の内部余白をリセット */
  list-style: none; /* リストのデフォルトスタイルを無効にする */
}

ul li {
  margin: 0 10px; /* 画像の間に10pxの左右の余白を追加 */
}
.slider {
  width: 50%;
  height: 600px;
  object-fit: cover;
}
.bx-wrapper {
  width: 1000px;
  height: 460px;
  margin: 0 auto; /* 左右のマージンを自動で均等にすることで中央に配置 */
}
p {
  text-align: center; /* テキストを中央に配置 */
  margin-top: 10px;
}
h2 {
  text-align: center;
}
.item_info {
  margin-top: 150px;
}
.exp {
  text-align: center; /* テキストを中央に配置 */
  margin-top: 5px;
}
img {
  height: 440px;
  width: 350px;
}
