html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-size: 20px;
    /* 文字を大きく */
}
h1 {
    color: #000;
    font-size: 2em;
}
hr {
    border: 2px solid #dcdcdc;
    /* 枠線を太く */
    margin-top: 10px;
    margin-bottom: 20px;
}
p {
    margin-top: 70px;
    text-align: center;
    /* 中央に配置 */
    margin-bottom: 40px;
    /* 下の余白を追加 */
    font-size: 20px;
}
input[type="submit"] {
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#button {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
#button input {
    margin: 50px;
}