#box{
    display: block;
    height: 185px;
    width: 500px;
    text-align: center;
    background-color: #dcdcdc;
    padding: 0.5em 1em;
    margin: auto;
    font-weight: bold;
    border: solid 3px #dcdcdc;
}
h1{
    text-align: center;
}
table{
    width: 300px;
    margin: 20px auto;
    margin-bottom: 20px;
}

#button{
    text-align: center;
}

#button input{
    margin: 10px;
}

#button2{
    text-align: center;
}

#button2 input{
    margin-top: 100px;
}

#p1{
    text-align: center;
}
tr{
    height: 50px;
}
input[type="submit"] {
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
